/* Styles for the main container of the Skills component */
.Skills {
  padding: 0 3rem 0 3rem; /* Padding around the Skills component */
  display: flex;
  height: 20rem; /* Set the height of the Skills component */
  margin-bottom: 8rem; /* Margin at the bottom of the Skills component */
  margin-top: 5rem; /* Margin at the top of the Skills component */
  padding-top: 3rem; /* Additional padding at the top for scroll view */
  perspective: 1000px; /* Perspective for 3D animation */
  animation: leftToRight 2s alternate infinite; /* Animation for leftToRight motion */
}

/* Styles for the left side container */
.awesome {
  display: flex;
  margin-top: 0;
  height: 40vh; /* Set the height of the left side container */
  flex-direction: column; /* Set the flex direction to column */
  position: relative; /* Position relative for the absolute positioning of children */
  transition: transform 0.3s ease; /* Transition for transform changes */
  padding: 2rem; /* Padding inside the left side container */
  border-radius: 15px; /* Border radius for rounded corners */
  background-color: rgba(0, 0, 0, 0.09); /* Set the background color with transparency */
  color: var(--primary-text); /* Set the text color using CSS variable */
  background-clip: padding-box; /* Clip the background within the padding box */
  transition: box-shadow 0.3s ease; /* Transition for box shadow changes */
  /* Applying 3D frame motion */
  animation: rotateFrame 6s linear infinite; /* Animation for 3D rotation */
}

/* Styling the "My Awesome" text */
.awesome > :nth-child(1) {
  height: 0rem;
  margin-top: 0rem;
  font-size: 2.1rem;
  font-weight: bold;
  color: brown;
}

/* Styling the "Skills" text */
.awesome > :nth-child(2) {
  margin-top: 3rem;
  font-size: 2.1rem;
  font-weight: bold;
  color:blue;
}

/* Styling the skills details text */
.awesome > :nth-child(3) {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}




/* Styles for the right side container */
.cards {
  position: relative; /* Set the position to relative for absolute positioning of children */
  width: 10rem; /* Set the width of the right side container */
  height: 13rem; /* Set the height of the right side container */
  display: flex; /* Display as a flex container */
  gap: 1rem; /* Set the gap between children elements */
}

/* Styles for the absolute positioned children of the right side container */
.cards > * {
  position: absolute; /* Set the position to absolute */
}

/* Styling the blur element 2 */
.s-blur2 {
  left: -13rem;
  top: 13rem;
}

/* Styling the blur element 1 */
.s-blur1 {
  top: 13rem;
  left: -18rem;
}

/* Keyframes animation for rightToLeft motion */
@keyframes rightToLeft {
  0% {
    transform: translateX();
  }
  100% {
    transform: translateX(-20px);
  }
}

/* Media query for screens with a maximum width of 480px (e.g., mobile devices) */
@media screen and (max-width: 480px) {
  .Skills {
    margin-top: 15rem; /* Adjust the margin at the top for mobile devices */
    flex-direction: column; /* Change the flex direction to column for stacking elements */
    gap: 2rem; /* Set the gap between elements */
    height: auto; /* Remove fixed height for mobile devices */
    padding: 0.01rem; /* Adjust the padding for mobile devices */
  }

  .awesome {
    height: auto; /* Set height to auto to adjust based on content */
    padding: 1rem; /* Adjust padding for mobile devices */
  }

  .cards {
    display: flex;
    gap: 1rem; /* Adjust the gap between elements */
    flex-direction: column; /* Change the flex direction to column for stacking elements */
  }

  .cards > * {
    position: static; /* Set the position to static for normal flow */
    width: 100%; /* Set the width to 100% to occupy the full width */
    margin-top: 1rem; /* Adjust the margin-top for spacing */
  }

    /* Styling the "My Awesome" text */
    .awesome > :nth-child(1) {
      font-size: 1.8rem; /* Decrease font size for mobile view */
      margin-top: 0.5rem; /* Add margin for spacing */
    }
  
    /* Styling the "Skills" text */
    .awesome > :nth-child(2) {
      margin-top: 3rem; /* Adjust margin for spacing */
      font-size: 1.8rem; /* Decrease font size for mobile view */
    }
  
    /* Styling the skills details text */
    .awesome > :nth-child(3) {
      margin-top: 2rem;
      margin-bottom: 1rem; /* Decrease margin-bottom for spacing */
      font-size: 0.7rem; /* Decrease font size for mobile view */
    }
  }
  

