.footer {
  display: flex;
  align-items: center;
  margin: -0.5rem -3.5rem;
  position: relative;
  margin-top: -5rem;
}
.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
  color: rgb(0, 47, 255);
  padding: 20px 19px;
}
.f-icons {
  display: flex;
  gap: 2rem;
  margin-top: 5rem; /* Adds space between the email and the icons */
  margin-bottom: 4rem;
  display: flex;
   
}



@media screen and (max-width: 480px){
  .f-content{
    transform: scale(.80);
  }
}
