/* Root variables for color values */
:root {
  --yellow: #675316;
  --orange: #1c0c87;
  --black: #0a1535;
  --gray: #ff0000;
  --blueCard: #DDF8FE;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

/* General styles for the entire app container */
.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
  /* Gradient background with three lighter colors */
  background: linear-gradient(180deg, #ff9933, #ffffff, #47c57d);
}

/* Styling for the button */
.button {
  /* Indian flag color in button */
  background: linear-gradient(180deg,  #ff9933, #ffffff, #47c57d);
  background-size: 400% 400%; /* Increase the background size for animation */
  animation: rainbowColor 2s linear infinite; /* Apply the rainbow color animation */
  box-shadow: 0px 20px 24px 3px rgba(211, 121, 43, 0.62);
  border-radius: 34px;
  border-radius: 34px;
  color: #000000;
  border: none;
  font-size: 20px;
  padding: 11px 26px 11px 26px;
  transition: transform 0.5s ease;
  
}

/* Button hover effect */
.button:hover {
  cursor: pointer;
  border: 1px solid white;
/* Apply a transform and box shadow on hover */
    transform: translateY(-2px) scale(1.05) rotateX(10deg) rotateY(-5deg);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  


/* Rainbow color animation */
@keyframes rainbowColor {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* addition style for button */
.button {
  /* Add multiple color stops to the linear-gradient background */
  background: linear-gradient(
    180deg,
    #ff9933, /* saffron color */
    #ffffff, /* Purple */
    #47c57d  /* Green */
  );
  background-size: 800% 100%; /* Increase the background size for animation */
  animation: rainbowColor 10s linear infinite; /* Apply the rainbow color animation */
  /* ... other button styles ... */
}

/* Additional styles for smaller screens or mobile phones */
@media screen and (max-width: 480px) {
  /* Adjust padding for smaller screens */
  .App {
    padding: 1rem 1rem;
  }
}
